.headr {
    
    background-image: url("../img/headr.jpg");
    height: 1024px;
}

.headr-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Istok Web;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.91px;
    text-align: left;
    background: #FFFFFF;
    background-size: cover;
    color: transparent;
    background-clip: text;
    padding-top: 74px;
}

.headr-main {
    display: flex;
}


.music-player {

    font-family: "Kenia", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: Kenia;
    font-size: 150px;
    font-weight: 400;
    line-height: 150px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 115px;
    margin-top: 191px;
    color: white;

}

.iphone {
    width: 500px;
    height: 888.01px;
    top: 127px;
    left: 865px;
    gap: 0px;
    opacity: 0px;

}

.company {
    background: #FFFFFF;
    background-size: cover;
    color: transparent;
    background-clip: text;
    font-family: Istok Web;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;


}

